# GitHub'in dil algilamasini duzeltmek icin otomatik olusturulan dosyalari yoksay

android/** linguist-generated
ios/** linguist-generated
linux/** linguist-generated
macos/** linguist-generated
windows/** linguist-generated
web/** linguist-generated

*.lock linguist-generated
